@model EmpireUniversity.Models.Teacher

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Teacher</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TeacherID)

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherName)
                @Html.ValidationMessageFor(model => model.TeacherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherAddress)
                @Html.ValidationMessageFor(model => model.TeacherAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherEmail)
                @Html.ValidationMessageFor(model => model.TeacherEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherPhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherPhoneNo)
                @Html.ValidationMessageFor(model => model.TeacherPhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditTaken, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditTaken)
                @Html.ValidationMessageFor(model => model.CreditTaken)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation)
                @Html.ValidationMessageFor(model => model.Designation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
